{% load static %}
<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <style>
    #chartContainer {
      width: 100%;
      height: 400px;
    }
  </style>
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <h1>多因子分析</h1>
  <div id="app">
   
      <el-form ref="form" :model="form" label-width="140px">
        <el-form-item label="股票分组数">
          <el-col :span="8">
            <el-input v-model="form.group"></el-input>
          </el-col>
        </el-form-item>

        <el-form-item label="交易频率">
          <el-select v-model="form.freq" placeholder="请选择频率">
            <el-option label="m" value="m"></el-option>
            <el-option label="w" value="w"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="收益率排列方式">
          <el-select v-model="form.rankLowestFirst" placeholder="请选择排序方式">
            <el-option label="升序" value="1"></el-option>
            <el-option label="降序" value="0"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="分析开始日期">
          <el-col :span="11">
            <el-date-picker type="date" placeholder="选择日期" v-model="form.startDate"></el-date-picker>
          </el-col>
        </el-form-item>
        <el-form-item label="分析结束日期">
          <el-col :span="11">
            <el-date-picker type="date" placeholder="选择日期" v-model="form.endDate"></el-date-picker>
          </el-col>
        </el-form-item>
        <hr>
 
      <el-form-item label="个股权重方式">
        <el-select v-model="form.stockWeightMode" placeholder="请选择排序方式">
          <el-option label="等权" value="equal"></el-option>
          <el-option label="智能" value="smart"></el-option>
        </el-select>
      </el-form-item>
    <hr>

    <el-form-item label="因子选择方式">
      <el-select v-model="form.factorSelectMode" placeholder="请选择排序方式">
        <el-option label="自选" value="manual"></el-option>
        <el-option label="智能" value="auto"></el-option>
      </el-select>
    </el-form-item>
    <template>
      <el-button type="primary" @click="smart_mode_metadata">智能模式参数选择</el-button>
    </template>

    <el-form-item label="因子数量" v-if="smart_mode_meta_visible">
      <el-col :span="8">
        <el-input v-model="form.nFactors"></el-input>
      </el-col>
    </el-form-item>
    <el-form-item label="优化回看周期" v-if="smart_mode_meta_visible">
      <el-col :span="8">
        <el-input v-model="form.factorChoosePeriod"></el-input>
      </el-col>
    </el-form-item>

<br>
<br>
    <template>
      <el-button type="primary" @click="user_choose_factor">自选因子</el-button>
    </template>
    <br>
    <el-form-item label="因子列表" v-if="user_factor_visible">
      <el-transfer filterable :titles="['待选', '已选']" :filter-method="filterMethod" filter-placeholder="请输入因子"
        v-model="form.factor" :data="form.factor_val"></el-transfer>
    </el-form-item>
    <br>
      <el-form-item label="因子权重方式">
        <el-select v-model="form.factor_weight_mode" placeholder="请选择排序方式">
          <el-option label="等权" value="equal"></el-option>
          <el-option label="智能" value="smart"></el-option>
          <el-option label="自定义" value="customized"></el-option>
        </el-select>
      </el-form-item>


      <template>
        <el-button type="primary" @click="save_selected_factor">自定义权重</el-button>
      </template>
      <br>
      <br>

      <el-form-item label="因子权重(空格隔开)" v-if="weight_table_visible">
        <el-col span="8">
          <el-input v-model="form.factor_weight"></el-input>
        </el-col>
      </el-form-item>
      <template>
        <el-button type="primary" @click="smart_backtest">选择优化回看周期</el-button>

      </template>
      <br>
      <br>
      <el-form-item label="优化回看最长周期" v-if="smart_backtest_visible">
        <el-col :span="8">
          <el-input v-model="form.EvalPeriod"></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="优化回看最短周期" v-if="smart_backtest_visible">
        <el-col :span="8">
          <el-input v-model="form.minEvalPeriod"></el-input>
        </el-col>
      </el-form-item>
   
   <hr>
      <el-form-item label="股票池范围">
        <el-checkbox-group v-model="form.scope">
          <el-checkbox label="000852.SH" name="scope"></el-checkbox>
          <el-checkbox label="000905.SH" name="scope"></el-checkbox>
          <el-checkbox label="000300.SH" name="scope"></el-checkbox>
          <el-checkbox label="399303.SZ" name="scope"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="benchmark">
        <el-select v-model="form.benchmark" placeholder="请选择排序方式">
          <el-option label="000852.SH" value="000852.SH"></el-option>
          <el-option label="000905.SH" value="000905.SH"></el-option>
          <el-option label="000300.SH" value="000300.SH"></el-option>
          <el-option label="399303.SZ" value="399303.SZ"></el-option>
        </el-select>
      </el-form-item>
  
<hr>
    <template>
      <el-button :type="form.buttonType" @click="onSubmit">开始分析</el-button>
    </template>
    </el-form>

    <!-- <img v-if="imageVisible" v-bind:src=imageSrc alt="Image" width="800px"></img>
    <img v-if="imageVisible" v-bind:src="image2Src" alt="Image" width="1000px"></img> -->
    <el-button type="primary" v-if="imageVisible" @click="download_zip">下载</el-button>

    <template>
      <el-table v-if="imageVisible" :data="tableData" style="width: 100%">
        <el-table-column prop="group" label="分组" width="180">
        </el-table-column>
        <el-table-column prop="rate" label="夏普比率" width="180">
        </el-table-column>
        <el-table-column prop="year_rate" label="年化收益率 (%)">
        </el-table-column>
        <el-table-column prop="max" label="最大回撤 (%)">
        </el-table-column>
      </el-table>
    </template>
    <br>
    <br>
    <template>
      <el-table v-if="imageVisible" :data="tableData_alpha" style="width: 100%">
        <el-table-column prop="group" label="分组" width="180">
        </el-table-column>
        <el-table-column prop="rate" label="年化超额收益率 (%)" width="180">
        </el-table-column>
        <el-table-column prop="max_drawdown" label="超额最大回撤 (%)">
        </el-table-column>
        <el-table-column prop="calmar" label="calmar">
        </el-table-column>
      </el-table>
    </template>

  </div>
  <br>
  <br>
  <div v-if="imageVisible" id="container"></div>
  <br>
  <div v-if="imageVisible" id="container_alpha"></div>
  <br>
  <div v-if="imageVisible" id="column"></div>
  <br>

  <br>

  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



  <script>

  </script>

  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          buttonStyle: {
            backgroundColor: 'brown',
            color: 'white'
          },

          form: {
            buttonType: "primary",
            group: '',
            freq: '',
            startDate: '',
            endDate: '',
            factor_val: [],
            factor: [],
            scope: [],
            rankLowestFirst: "",
            benchmark: '',
            factor_category: [],
            factor_weight: "",
            factor_weight_mode: "",
            EvalPeriod: "",
            minEvalPeriod: "",
            stockWeightMode: "",
            factorSelectMode: "",
            nFactors: "",
            factorChoosePeriod: ""
          },
          search: "",
          imageSrc: "",
          image2Src: "",
          imageVisible: false,
          weight_table_visible: false,
          smart_backtest_visible: false,
          user_factor_visible: false,
          smart_mode_meta_visible: false,
          tableData: [],
          tableData_alpha: [],
          chart: "",
        }
      },
      methods: {
        save_selected_factor() {
          this.weight_table_visible = true;
        },
        smart_backtest(){
          this.smart_backtest_visible = true;
        }, 
        user_choose_factor(){
          this.user_factor_visible = true;
        },
        smart_mode_metadata(){
          this.smart_mode_meta_visible = true;
        },
        onSubmit() {
          let json_form = JSON.stringify(this.form);
          this.form.buttonType = "warning";
          _this = this;
          axios({
            method: 'POST',
            url: "collect_data/",
            data: json_form
          }).then(function (resp) {
            _this.imageVisible = true
            tabledata_show = []
            alpha_tabledata_show = []

            indicator = Object.values(resp.data.indicator)
            indicator_alpha = Object.values(resp.data.indicator_alpha)
            groups_trans = Object.values(resp.data.group)
            groups_alpha = Object.values(resp.data.group_alpha)
            indicator.forEach((val, index) => {

              tabledata_show.push({
                group: val.group,
                year_rate: val.year_rate,
                rate: val.rate,
                max: val.max
              })
            })

            indicator_alpha.forEach((val, index) => {

              alpha_tabledata_show.push({
                group: val.group,
                rate: val.year_rate,
                max_drawdown: val.max_drawdown,
                calmar: val.calmar

              })
            })
            _this.tableData = tabledata_show
            _this.tableData_alpha = alpha_tabledata_show
            /////////////////////////////////////////////////////////////////////////////////////////
            const data_series = [];
            const alpha_data_series = [];
            const dateList = Object.values(groups_trans[groups_trans.length - 1])
            const formattedDates = dateList.map(dateStr => {
              const year = parseInt(dateStr.substring(0, 4));
              const month = parseInt(dateStr.substring(4, 6)) - 1;
              const day = parseInt(dateStr.substring(6, 8));


              return Date.UTC(year, month, day);
            });
            for (let i = 0; i < groups_alpha.length - 1; i++) {
              each_group = []
              const vals = Object.values(groups_alpha[i]);
              vals.forEach(function (element, index) {
                let correspondingDate = formattedDates[index];
                let oneday_onegroup = {
                  x: correspondingDate,
                  y: element
                }
                each_group.push(oneday_onegroup)
              });
              const Ser = {
                name: 'group_' + i,
                data: each_group
              }
              alpha_data_series.push(Ser)
            }
            let last_group_alpha = []
            let last_alpha = []
            const vals_alpha = Object.values(groups_alpha[groups_trans.length - 2]);
            vals_alpha.forEach(function (element, index) {
              let correspondingDate = formattedDates[index];
              let oneday_onegroup = {
                x: correspondingDate,
                y: element
              }
              last_alpha.push(oneday_onegroup);
            })
            const last_Ser_alpha = {
              name: "longshort_hedge",
              data: last_alpha
            }
            alpha_data_series.push(last_Ser_alpha);

            Highcharts.chart('container_alpha', {
              chart: {
                zoomType: 'x'
              },
              title: {
                text: "因子alpha",
                align: "left"
              },
              yAxis: {
                title: {
                  text: "净值"
                }
              },
              xAxis: {
                type: 'datetime',
                labels: {
                  format: '{value:%Y-%m-%d}'
                }
              },
              legend: {
                layout: 'vertical',
                align: 'right',
                verticalAligh: 'middle'
              },
              plotOptions: {
                series: {
                  label: {
                    connectorAllowed: false
                  }
                }
              },

              series: alpha_data_series,
              responsive: {
                rules: [{
                  condition: {
                    maxWidth: 500
                  },
                  chartOption: {
                    legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAligh: 'bottom'
                    }
                  }
                }]
              }
            });

            ////////////////////////////////////
            for (let i = 0; i < groups_trans.length - 2; i++) {
              each_group = [];
              const vals = Object.values(groups_trans[i]);
              vals.forEach(function (element, index) {
                let correspondingDate = formattedDates[index];
                let oneday_onegroup = {
                  x: correspondingDate,
                  y: element
                }
                each_group.push(oneday_onegroup);
              })
              const Ser = {
                name: "group_" + i,
                data: each_group
              }
              data_series.push(Ser);

            }
            let last = []
            const vals = Object.values(groups_trans[groups_trans.length - 2]); // the last element is date list so -2
            vals.forEach(function (element, index) {
              let correspondingDate = formattedDates[index];
              let oneday_onegroup = {
                x: correspondingDate,
                y: element
              }
              last.push(oneday_onegroup);
            })
            const last_Ser = {
              name: "longshort_hedge",
              data: last
            }
            data_series.push(last_Ser);
            Highcharts.chart('container', {
              chart: {
                zoomType: 'x'
              },
              title: {
                text: "因子十分组及多空对冲净值走势",
                align: "left"
              },
              yAxis: {
                title: {
                  text: "净值"
                }
              },
              xAxis: {
                type: 'datetime',
                labels: {
                  format: '{value:%Y-%m-%d}'
                }
              },
              legend: {
                layout: 'vertical',
                align: 'right',
                verticalAligh: 'middle'
              },
              plotOptions: {
                series: {
                  label: {
                    connectorAllowed: false
                  }
                }
              },

              series: data_series,
              responsive: {
                rules: [{
                  condition: {
                    maxWidth: 500
                  },
                  chartOption: {
                    legend: {
                      layout: 'horizontal',
                      align: 'center',
                      verticalAligh: 'bottom'
                    }
                  }
                }]
              }
            });
            //////////////////////////////////////////////////////////////////////////////////
            let year = Object.values(resp.data.IC_val.month)
            let IC = Object.values(resp.data.IC_val.IC)
            let IC_cumulative = Object.values(resp.data.IC_val.cumulative)
            const formattedDates2 = year.map(dateStr => {
              const year = parseInt(dateStr.substring(0, 4));
              const month = parseInt(dateStr.substring(4, 6)) - 1;
              const day = parseInt(dateStr.substring(6, 8));


              return Date.UTC(year, month, day);
            });
            const year_IC = [];
            IC.forEach(function (val, index) {
              let time = formattedDates2[index];
              let res = [time, val];
              year_IC.push(res);
            })
            const year_IC_cumu = [];
            IC_cumulative.forEach(function (val, index) {
              let time = formattedDates2[index];
              let res = [time, val];
              year_IC_cumu.push(res);
            })



            Highcharts.chart('column', {
              chart: {
                type: 'column'
              },
              title: {
                text: 'IC 分析'
              },
              xAxis: {
                type: 'datetime',
                labels: {
                  format: '{value:%Y-%m-%d}'
                }
              },
              yAxis: [{
                title: {
                  text: 'IC 值'
                }
              }, {
                title: {
                  text: 'IC 累计值'
                },
                opposite: true
              }],
              series: [{
                type: 'column',
                name: 'IC 值',
                yAxis: 0,
                data: year_IC,
                threshold: 0,
                negativeColor: 'red'
              }, {
                type: 'line',
                name: 'IC 累计值',
                yAxis: 1,
                data: year_IC_cumu
              }],

            })
            _this.form.buttonType = "primary";
            _this.weight_table_visible = false;
            _this.smart_backtest_visible = false;
          })
        },
        filterMethod(query, val) {
          return val.search.indexOf(query) > -1;
        },
        generateData() {
          data = [];
          factors = [];
          _this = this
          axios({
            method: 'get',
            url: "factors/",
            data: ""
          }).then(function (resp) {
            factors = resp.data
            factors.forEach((factors, index) => {
              data.push({
                label: factors,
                key: index,
                search: factors
              })
            })
            _this.form.factor_val = data


          })
        },
        download_zip() {
          axios({
            method: 'get',
            url: 'download_zip/',
            data: "",
            responseType: 'blob'
          }).then(function (resp) {
            const blob = new Blob([resp.data], { type: 'application/zip' });
            let url = window.URL.createObjectURL(blob);
            const link = document.createElement('a');
            link.href = url;
            link.download = "packed_files.ZIP";
            link.click()
            URL.revokeObjectURL(url);

          })
        }

      },

      // hook, used to initialize the factor elements 
      mounted() {
        this.generateData()
      }

    })
  </script>
</body>

</html>